﻿<div class="info">
    <div class="address">
        <i class="bi bi-geo-alt"></i>
        <h4>Adres:</h4>
        <p>@ViewBag.Location</p>
    </div>

    <div class="open-hours">
        <i class="bi bi-clock"></i>
        <h4>Çalışma Saatleri:</h4>
        <p>
            @ViewBag.OpenHours
        </p>
    </div>

    <div class="email">
        <i class="bi bi-envelope"></i>
        <h4>E-Posta:</h4>
        <p>@ViewBag.Email</p>
    </div>

    <div class="phone">
        <i class="bi bi-phone"></i>
        <h4>Telefon:</h4>
        <p>@ViewBag.Call</p>
    </div>

</div>