﻿
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>@ViewBag.SubTitle <span>DMB Restaurantly</span></h1>
                <h2>@ViewBag.Title</h2>

                <div class="btns">
                    <a href="#menu" class="btn-menu animated fadeInUp scrollto">Menümüz</a>
                    <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Rezervasyon Yap</a>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
                <a href="@ViewBag.VideUrl" class="glightbox play-btn"></a>
            </div>

        </div>
    </div>
</section><!-- End Hero -->