﻿
<nav id="navbar" class="navbar order-last order-lg-0">
    <ul>
        <li><a class="nav-link scrollto active" href="#hero">Anasayfa</a></li>
        <li><a class="nav-link scrollto" href="#about">Hakkımızda</a></li>
        <li><a class="nav-link scrollto" href="#menu">Menü</a></li>
        <li><a class="nav-link scrollto" href="#specials">Spesyellerimiz</a></li>
        <li><a class="nav-link scrollto" href="#events">Etkinlikler</a></li>
        <li><a class="nav-link scrollto" href="#chefs">Şeflerimiz</a></li>
        <li><a class="nav-link scrollto" href="#gallery">Galeri</a></li>
        @*<li class="dropdown">
                <a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="#">Drop Down 1</a></li>
                    <li class="dropdown">
                        <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                        <ul>
                            <li><a href="#">Deep Drop Down 1</a></li>
                            <li><a href="#">Deep Drop Down 2</a></li>
                            <li><a href="#">Deep Drop Down 3</a></li>
                            <li><a href="#">Deep Drop Down 4</a></li>
                            <li><a href="#">Deep Drop Down 5</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Drop Down 2</a></li>
                    <li><a href="#">Drop Down 3</a></li>
                    <li><a href="#">Drop Down 4</a></li>
                </ul>
            </li>*@
        <li><a class="nav-link scrollto" href="#contact">İletişim</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->