﻿<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Restaurantly</h3>
                        <p>
                            Beşiktaş<br>
                            İstanbul, Türkiye<br><br>
                            <strong>Telefon:</strong> +0555 555 55 55<br>
                            <strong>Email:</strong> info@restaurantly.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="https://www.instagram.com/restaurantly" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="https://github.com/zulalozcelik/AcunMedyaRestaurantly" class="google-plus"><i class="bx bxl-github"></i></a>
                            <a href="https://www.linkedin.com/in/z%C3%BClal-%C3%B6z%C3%A7elik-16a964261/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Hızlı Bağlantılar</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#hero">Ana Sayfa</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#about">Hakkımızda</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#menu">Menümüz</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#specials">Özel Teklifler</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#contact">İletişim</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Hizmetlerimiz</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Paket Servis</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Özel Etkinlikler</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Catering</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Vale Hizmeti</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Canlı Müzik</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Vegan ve Glutensiz Seçenekler</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Bültene Abone Ol</h4>
                    <p>En yeni haberler ve fırsatlar için bültenimize abone olun!</p>
                    <form action="" method="post">
                        <input type="email" name="email" placeholder="E-posta adresiniz" required>
                        <input type="submit" value="Gönder">
                    </form>
                </div>

            </div>

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Restaurantly</span></strong>. Tüm Hakları Saklıdır.
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/restaurantly-restaurant-template/ -->
            Tasarım <a href="https://bootstrapmade.com/">FNA</a>
        </div>
    </div>
</footer>