﻿<div class="col-lg-8 mt-5 mt-lg-0">

    <form action="ContactAdd" method="post" role="form" class="php-email-form">
        <div class="row">
            <div class="col-md-6 form-group">
                <input type="text" name="Name" class="form-control" id="name" placeholder="İsim" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="Email" id="email" placeholder="Email" required>
            </div>
        </div>
        <div class="form-group mt-3">
            <input type="text" class="form-control" name="Subject" id="subject" placeholder="Konu" required>
        </div>
        <div class="form-group mt-3">
            <textarea class="form-control" name="Message" rows="8" placeholder="Mesaj" required></textarea>
        </div>
        <div class="my-3">
            <div class="loading">Yükleniyor</div>
            <div class="error-message"></div>
            <div class="sent-message">Mesajınız gönderildi. Teşekkürler!</div>
        </div>
        <div class="text-center"><button type="submit">Mesajı Gönder</button></div>
    </form>

</div>
