@model List<AcunMedyaRestaurantly.Entities.Gallery>

@{
    ViewBag.Title = "GalleryList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    var count = 0;
}


<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Gallery</a></li>
        </ol>
    </div>
</div>
<!-- row -->

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Gallery</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered verticle-middle">
                            <thead>
                                <tr>
                                    <th scope="col"><b>Image Id</b></th>
                                    <th scope="col" class="col-lg-7">Image</th>
                                    <th scope="col">Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><b>@item.ImageUrl</b></td>
                                        <td align="center">
                                            <img src="@item.ImageUrl" alt="@item.GalleryId" class="img-thumbnail" style="width:300px" />
                                        </td>
                                        <td align="center">
                                            <a href="/AdminGallery/UpdateImage/@item.GalleryId" class="btn btn-check gradient-1"><i class="fa-solid fa-pen"></i></a>
                                            &nbsp;
                                            <a href="/AdminGallery/DeleteImage/@item.GalleryId" class="btn btn-check gradient-2 "><i class="fa-solid fa-xmark"></i></a>
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <a href="/AdminGallery/AddNewImage/" class="btn btn-success gradient" style="color:white">Add Image<span class="btn-icon-right"><i class="fa-solid fa-plus"></i></span></a>
            <br /><br />
        </div>
    </div>
</div>
