@model List<AcunMedyaRestaurantly.Entities.Category>
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol>
    </div>
</div>
<!-- row -->

<div class="container-fluid">
    <div class="row">

        <!-- /# column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Kategori Listi</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Kategori ismi</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th>@item.CategoryId</th>
                                        <td>@item.CategoryName</td>

                                        <td><a href="/Category/CategoryDelete/@item.CategoryId" class="btn btn-danger"> Sil</a></td>
                                        <td><a href="/Category/CategoryEdit/@item.CategoryId" class="btn btn-info gradient-1"> Güncelle</a></td>

                                    </tr>
                                }


                            </tbody>
                        </table>
                        <a href="/Category/CategoryCreate" class="btn btn-success">Kategori Ekle</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /# column -->

    </div>
</div>
<!-- #/ container -->