﻿@model AcunMedyaRestaurantly.Entities.Category
@{
    ViewBag.Title = "CategoryEdit";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Kategori Güncelleme</a></li>
        </ol>
    </div>
</div>
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Kategori Ekleme Formu</h4>
                <div class="basic-form">
                    <form method="post">

                        <div class="form-group">
                            @Html.HiddenFor(x => x.CategoryId)
                            <label>Kategori İsmi</label>

                            @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
                        </div>

                        <button type="submit" class="btn btn-dark gradient-2">Kategori Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>