@model List<AcunMedyaRestaurantly.Entities.Category>
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
<h2>Kategori Listesi</h2>
<div class="container">
    <table class="table table-responsive">
        <tr>
            <th>
                #
            </th>
            <th>Kategori İsmi</th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CategoryId</td>
                    <td>@item.CategoryName</td>
                </tr>
            }
        </tbody>
    </table>
</div>


