﻿<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">

            <li>
                <a href="/Dashboard/Index" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Anasayfa</span>
                </a>
            </li>
            <li>
                <a href="/Category/CategoryList" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Kategoriler</span>
                </a>
            </li>
            <li>
                <a href="/Profiles/Index" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Profiller</span>
                </a>
            </li>
            <li>
                <a href="/Contact/ContactList" aria-expanded="false">
                    <i class="icon-basic-alarm menu-icon"></i><span class="nav-text">Mesajlar</span>
                </a>
            </li>
            <li>
                <a href="/Notification/NotificationList" aria-expanded="false">
                    <i class="icon-bell menu-icon"></i><span class="nav-text">Bildirimler</span>
                </a>
            </li>
            <li>
                <a href="/Adress/AdressList" aria-expanded="false">
                    <i class="icon-trophy menu-icon"></i><span class="nav-text">Adres</span>
                </a>
            </li>
            <li>
                <a href="/Feature/FeatureList" aria-expanded="false">
                    <i class="icon-magnet menu-icon"></i><span class="nav-text">Başlık</span>
                </a>
            </li>
            <li>
                <a href="/Chef/ChefList" aria-expanded="false">
                    <i class="icon-settings menu-icon"></i><span class="nav-text">Şefler</span>
                </a>
            </li>
            <li>
                <a href="/Reservation/ReservationList/" aria-expanded="false">
                    <i class="icon-key menu-icon"></i><span class="nav-text">Rezervasyonlar</span>
                </a>
            </li>
            <li>
                <a href="/About/AboutList" aria-expanded="false">
                    <i class="icon-trophy menu-icon"></i><span class="nav-text">Hakkında</span>
                </a>
            </li>
            <li>
                <a href="/Special/SpecialList" aria-expanded="false">
                    <i class="icon-crop menu-icon"></i><span class="nav-text">Spesiyaller</span>
                </a>
            </li>
            <li>
                <a href="/Event/EventList" aria-expanded="false">
                    <i class="icon-basic-elaboration-document-star menu-icon"></i><span class="nav-text">Etkinlikler</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/TestimonialList/" aria-expanded="false">
                    <i class="icon-basic-elaboration-bookmark-plus menu-icon"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="/Gallery/GalleryList/" aria-expanded="false">
                    <i class="icon-basic-home menu-icon"></i><span class="nav-text">Galeri</span>
                </a>
            </li>
            <li>
                <a href="/Chef/ChefList" aria-expanded="false">
                    <i class="icon-drawar  menu-icon"></i><span class="nav-text">Şefler</span>
                </a>
            </li>
            <li>
                <a href="/Feature/FeatureList" aria-expanded="false">
                    <i class="icon-trophy menu-icon"></i><span class="nav-text">Başlık</span>
                </a>
            </li>
            <li>
                <a href="/Statistic/Index/" aria-expanded="false">
                    <i class="icon-anchor menu-icon"></i><span class="nav-text">İstatistikler</span>
                </a>
            </li>
        </ul>
    </div>
</div>