﻿<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">

            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Anasayfa</span>
                </a>
            </li>
            <li>
                <a href="/Category/CategoryList" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Kategoriler</span>
                </a>
            </li>
        </ul>
    </div>
</div>