﻿@model AcunMedyaRestaurantly.Entities.Service
@{
    ViewBag.Title = "ServiceCreate";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Hizmet Ekleme</a></li>
        </ol>
    </div>
</div>
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hizmet Ekleme Formu</h4>
                <div class="basic-form">
                    <form method="post">

                        <div class="form-group">
                            <label>Hizmet</label>
                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                            <label>Açıklama</label>
                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                        </div>

                        <button type="submit" class="btn btn-dark gradient-2">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>